.wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.nav {
  padding: 10px;
  background: rgb(212, 202, 208);
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gridBox {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .gridBox {
    grid-template-columns: repeat(2, 1fr);
  }
  .mainWrapper {
    flex-direction: column;
  }
}

@media only screen and (width: 992px) {
  .gridBox {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (width: 1024px) {
  .gridBox {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .gridBox {
    grid-template-columns: repeat(1, 1fr);
  }
}
